#p_wrap {
  white-space: pre-line;
}

#add-city {
	width: 50%;
}

body {
	/*background-color: #f5f6fa;*/
}

form a {
	margin-left: 10px;
}

textarea {
	height: 250px;
}

h3 {
	/*font-family: 'Fugaz One', cursive;*/
	font-weight: bolder;
}

h6 {
	position: relative;
	top: 0px;
}

h5 {
	padding-top: 0;
	margin-top: 0;
}

.card {
	background-color: #3e4768;
}

.city-index:hover {
	background-color: #3b5998;
	cursor: pointer;
}

.chart-card {
	height: 360px;
}

.btn-floating {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 2;
}

