#p_wrap {
  white-space: pre-line;
}

#add-city {
	width: 50%;
}

form a {
	margin-left: 10px;
}

textarea {
	height: 250px;
}

h3 {
	/*font-family: 'Fugaz One', cursive;*/
	font-weight: bolder;
}

h6 {
	position: relative;
	top: 0px;
}

h5 {
	padding-top: 0;
	margin-top: 0;
}

.card {
	background-color: #3e4768;
}

.city-index:hover {
	background-color: #3b5998;
	cursor: pointer;
}

.chart-card {
	height: 360px;
}

.btn-floating {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 2;
}

#add-city {
	width: 50%;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.chart-card {
		height: 300px;
	}

	#add-city {
		width: 50%;
	}
}

@media (min-width: 768px) and  (max-width: 991.98px) {
	.chart-card {
		height: 280px;
	}
	#add-city {
		width: 65%;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.chart-card {
		height: 260px;
	}
	#add-city {
		width: 80%;
	}
}

@media (max-width: 575.98px) {
	.chart-card {
		height: 220px;
	}
	#add-city {
		width: 100%;
	}
}
